* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
    position: relative;
    padding-top: 1px;
    overflow-x: hidden;
}

#nav {
    width: 100%;
    height: 10vh;
    /* background-color: skyblue; */
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#nav h1::after {
    content: "©";
    font-family: gilroy;
    font-weight: 400;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 14%;
}

#nav h1::before {
    content: "Model Management";
    font-family: gilroy;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: 70%;
    left: 6%;
}

#nav h2 {
    height: 100%;
    width: 24%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 20px;
    font-weight: 500;
}

#nav h1 {
    height: 100%;
    width: 17%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3vw;
    font-family: "monument";
    letter-spacing: -1px;
}

#nav h2:nth-last-child(1) {
    width: 6%;
}

#center {
    width: 100%;
    height: 83%;
    /* background-color: red; */
    padding: 3vw;
    position: relative;
}

#content {
    width: 100%;
    height: 100%;
    /* background-color: black; */
    position: relative;
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#overlay {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    /* background-color: rebeccapurple; */
    padding: 2vw;
    line-height: 2.3vw;
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffff;
}

#over1 h1 {
    font-family: monument;
    font-size: 3vw;
    line-height: 3.3vw;
    mix-blend-mode: difference;
}

#over1 h2 {
    font-size: 1.5vw;
    font-weight: 500;
    padding: 2vw 2.4vw;
    border: 1px solid #ffff;
    border-radius: 50%;
}

#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffff;
    border-top: 1px solid #ffff;
    margin-top: 30px;
    padding: .5vw 0;
}

#over2 h4 {
    font-size: 15px;
    font-weight: 500;
}

#over2 img {
    height: 3vw;
}

/* ******************************************************************** */
/* ******************************************************************** */

#scroll {
    width: 110%;
    height: 40vh;
    background-color: #EEEEEE;
    /* padding: 1vw; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 2vw;
    padding-top: 10px;

}

#container {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

#scroll img {
    width: 12%;
    height: 70%;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0px 0px;
    margin-left: 2px;
}

@keyframes move {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-100%);
    }
}

#alphabates {
    width: 100%;
    height: 6vw;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3vw;
    font-style: italic;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#alphabates h4 {
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 0.5vw;
    border-bottom: 2px solid black;
    transition: all ease 0.5s;
    margin-right: 2vw;
}

#alphabates h5:hover {
    border: 1px solid black;
}

#alphabates h5 {
    text-transform: uppercase;
    font-size: 1.3vw;
    font-weight: 500;
    padding: 8px 13px;
    border-radius: 50px;
    cursor: pointer;
}

#page2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 3.8vw;
}

#page2-part1 {
    height: 100%;
    width: 50%;
    margin-top: -20px;
}

#page2-part1>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 20px 10px;
    border-radius: 5px;
}



#page2-part2 {
    height: 100%;
    width: 46%;
}

#page2-part2 img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: 0px -130px;

}

#element {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#element h2 {
    padding-right: 15px;
    font-weight: 600;
}

#element p {
    color: rgb(73, 72, 72);
}

/* ************************************************************* */
/* ************************************************************* */

#page3 {
    width: 100%;
    height: 90%;
    background-color: #EEEEEE;
    display: flex;
    padding: 0vw 4vw;
}

#page3-top {
    width: 100%;
    height: 10vh;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    padding-left: 4vw;
}

#page3-top h1 {
    text-transform: uppercase;
    font-family: monument;
    font-size: 3vw;
}

#page3-left {
    width: 40%;
    height: 100%;
    /* background-color: red; */

}

#circular-text h2 {
    font-weight: 600;
    line-height: 1.9vw;
    font-size: 1.8vw;
    color: rgb(76, 76, 76);
}

#circular-text>img {
    width: 85%;
    margin-left: 10px;
}

#page3-right {
    width: 60%;
    height: 90%;
    background-image: url(https://images.unsplash.com/photo-1503830232159-4b417691001e?q=80&w=1509&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 2.2vw;
    border-radius: 5px;
}

#page4 {
    width: 100%;
    height: 100%;
}

#page4 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 4vw;
}

#page4 img {
    border-radius: 10px;
}

#page5 {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    position: relative;
    padding: 1vw 4vw;

}

#page5>h1 {

    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    letter-spacing: .2vw;
    font-size: 3vw;
    margin-top: 2vw;
    margin-bottom: 4vw;
}

.elem {
    width: 100%;
    height: 18vh;
    /* background-color: rebeccapurple; */
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

.elem .elem-part2 {
    width: 40%;
    /* background-color: rebeccapurple; */
}

.elem-part2 h1 {
    font-size: 2.7vw;
    font-weight: 600;
}

.elem-part2 h5 {
    font-size: 1vw;
    font-weight: 600;
    text-transform: uppercase;
}

.elem h4 {
    font-size: 1.7vw;
    font-weight: 600;
    width: 6%;
    line-height: 1.7vw;
}

.elem {
    width: 100%;
    height: 18vh;
    /* background-color: rebeccapurple; */
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
}

.elem>img {
    height: 110px;
    width: 110px;
    left: 15%;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    transition: all ease 0.5s;
}

.elem:hover img {
    opacity: 1;
    left: 40%;
}

.elem .elem-part2 {
    width: 40%;
    /* background-color: rebeccapurple; */
}

.elem-part2 h1 {
    font-size: 2.7vw;
    font-weight: 600;
}

.elem-part2 h5 {
    font-size: 1vw;
    font-weight: 600;
    text-transform: uppercase;
}

.elem:hover {
    background-color: #d1cfcf;
}

.elem h4 {
    font-size: 1.7vw;
    font-weight: 600;
    width: 6%;
    line-height: 1.7vw;
}

.elem:nth-last-child(1) {
    border-bottom: 2px solid black;
}

/* *********************************************************************************** */
/* *********************************************************************************** */

#page6 {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    padding: 4vw;
}

#page6-left {
    width: 45%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1562572159-4efc207f5aff?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fG1vZGVsfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: top;
    border-radius: 5px;
}

#page6-right {
    width: 50%;
    height: 100%;
    /* background-color: orchid; */
    border-radius: 5px;
}

#page6-right h1 {
    font-family: monument;
    text-transform: uppercase;
    margin-bottom: 1.4vw;

}

#page6-right h3 {
    font-weight: 600;
    width: 46%;
    margin-bottom: 1.4vw;

}

#page6-right p {
    width: 80%;
    margin-bottom: 1.4vw;
    text-align: justify;
    color: rgb(101, 101, 101);
}

#two-img {
    width: 100%;
    height: 55%;
    /* background-color: red; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 2vw;

}

#two-img img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* ********************************************************************************************* */
/* ********************************************************************************************* */

#page7 {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    padding: 4vw;
}

#page7 img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

#marque {
    width: 100%;
    /* height: 15vh; */
    /* background-color: red; */
    padding: .6vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#marque h1 {
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: monument;
    /* background-color: blue; */
    letter-spacing: 3px;
    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes animation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}

/* ******************************************************************** */
/* ******************************************************************** */

#footer {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1vw 4vw;
}

#footer-left {
    width: 20%;
    height: 80%;
    /* background-color: yellow; */
}

#footer-left h1 {
    font-family: monument;

}

#footer-center {
    width: 35%;
    height: 80%;
    /* background-color: rgb(186, 103, 20); */
}

#footer-center h4 {
    width: 95%;
    text-align: justify;
    font-size: 25px;
    font-weight: 600;
}

#footer-center img {
    height: 61%;
    width: 100%;
    object-fit: cover;
    margin-top: 40px;
    object-position: 0px 10;
}


#footer-right {
    width: 35%;
    height: 80%;
    /* background-color: rgb(0, 229, 255); */
}

#footer-right img {
    height: 61%;
    width: 100%;
    object-fit: cover;
    margin-top: 40px;
}

#footer-right h4 {
    width: 95%;
    text-align: justify;
    font-size: 25px;
    font-weight: 600;
}

#page8 {
    width: 100%;
    height: 50%;
    /* background-color: #f29393; */
    display: flex;
}

#page8-part1 {
    width: 25%;
    height: 90%;
    /* background-color: aqua; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#page8-part2 {
    width: 15%;
    height: 90%;
    /* background-color: rgb(146, 210, 44); */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

#page8-part3 {
    width: 20%;
    height: 90%;
    /* background-color: rgb(255, 166, 0); */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

#page8-part4 {
    width: 40%;
    height: 90%;
    /* background-color: rgb(234, 0, 255); */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#page8-part1 h1 {
    font-size: 2.5vw;
    font-family: monument;
    padding: 2vw 4vw;
}

#page8-part4-top {
    border-bottom: 2px solid #000;
}

#page8-part1 {
    position: relative;
}

#page8-part1 h1::after {
    content: "©";
    font-family: gilroy;
    position: absolute;
    font-size: 25px;
}

#page8-part1 h1::before {
    content: "Model Management";
    font-family: gilroy;
    position: absolute;
    font-size: 14px;
    top: 21%;
    left: 29%;
    font-weight: 400;
}

#page8-part2 h3 {
    padding: 2vw 4vw;
    font-size: 1.6vw;
}

#page8-part3 h3 {
    padding: 2vw 4vw;
    font-size: 1.6vw;
}

#page8-part4-top {
    width: 100%;
    height: 40%;
    /* background-color: #9d1616; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#page8-part4-top h3 {
    font-size: 25px;
    font-weight: 600;
}

#page8-part4-bottom {
    width: 100%;
    height: 50%;
    /* background-color: #16459d; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

#icons {
    width: 100%;
    height: 30%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#icons i {
    font-size: 2vw;

}

#paragraph {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(72, 72, 72);
}

